{% verbatim %}
    <div class="profile-my-bills-list">
        <div class="row tab-title">
            <div class="col s6 title-lato">My Bills</div>
        </div>

        <div class="section no-state">
            <div class="container">
                <div class="section">
                    <!-- Populate Bills list -->
                    <div class="subtitle-lato">Bills I support</div>
                    <div class="row">
                        {{# _.each(this.model.get('my_bills').supported_bills, function (bill) { }}
                        <b>{{ bill.title }}</b>
                        {{# }, this); }}
                    </div>
                    <div class="subtitle-lato">Bills I oppose</div>
                    <div class="row">
                        {{# _.each(this.model.get('my_bills').opposed_bills, function (bill) { }}
                        <b>{{ bill.title }}</b>
                        {{# }, this); }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endverbatim %}


<script>
    var status = "less";

    function toggleText(billsArray) {
        var text = "Here is some text that I want added to the HTML file";

        if (status === "less") {
            document.getElementById("textArea").innerHTML = text;
            document.getElementById("toggleButton").innerText = "See Less";
            status = "more";
        } else if (status === "more") {
            document.getElementById("textArea").innerHTML = "";
            document.getElementById("toggleButton").innerText = "See More";
            status = "less"
        }
    }
</script>
